{% extends "base_user_2.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/staticFiles/assets/css/users/account_page.css">
{% endblock stylesheet %}
{% block title %}
<title>Your Personal Page</title>
{% endblock title %}
{% block body %}
<div class="main-panel">        
    <div class="content-wrapper">
        <div class="row">
            <div class="card">                
                <div class="card-body ml-5">
                    <h3 class="card-title form_account">Information Account</h3>      
                    <form class="forms-sample" method="post" action="/_users/account_page_update_info" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="exampleInputUsername1">Username</label>
                                        <input name="account_name" value="{{ customer.account_name }}" type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputAddress">Address</label>
                                        <input name="account_address" value="{{ customer.account_address }}" type="text" class="form-control" id="exampleInputAddress" placeholder="Address">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputBirthday">Birthday</label>
                                        <input name="date_of_birth" value="{{ customer.date_of_birth }}" type="date" class="form-control" id="exampleInputBirthday" placeholder="Birthday">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPhone">Phone</label>
                                        <input name="phone" value="{{ customer.phone }}" type="text" class="form-control" id="exampleInputPhone" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="ml-3 col-4">
                                    <div class="form-group"> 
                                        <label for="exampleInputGender">Gender</label>
                                        <div class="ml-3 mt-4">
                                            {% if customer.gender == 'Male' %}
                                                <input for="exampleInputGender" name="gender" type="radio" value="Male" checked/>Male
                                                <input for="exampleInputGender" name="gender" class="ml-3"name="gender" type="radio" value="Female" />Female
                                            {% else %}
                                                <input for="exampleInputGender" name="gender" type="radio" value="Male"/>Male
                                                <input for="exampleInputGender"  name="gender" class="ml-3"name="gender" type="radio" value="Female" checked/>Female
                                            {% endif %}
                                        </div>
                                    </div>
                                </div> 
                                <div class="avatar col-3">
                                    {% if customer.avatar != '' %}
                                    <img src="/staticFiles/assets/img/avatars/{{ customer.avatar }}" width="200" height="200" alt="Your picture">
                                    {% else %}
                                    <img src="/staticFiles/assets/img/avatars/empty.png" width="200" height="200" alt="Your picture">
                                    {% endif %}
                                    <div class="template-demo">
                                        <input type="file" class="btn btn-danger btn-icon-text" name="avatar" style="width: 180px;">
                                    </div>
                                </div>
                            </div>
                            <button name="update" type="submit" class="btn btn-primary me-2">Submit</button>
                    </form>
                </div>
            </div>      
        </div>
    </div>
</div>
{% endblock body %}