{% extends "base_user_1.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="/staticFiles/assets/css/users/footer.css"> 
    <link rel="stylesheet" href="/staticFiles/assets/css/users/header.css"> 
    <link rel="stylesheet" href="/staticFiles/assets/css/users/page_product.css"> 
{% endblock stylesheet %}
{% block title %}
<title>Page Category</title>
{% endblock title %}
{% block body %}
<body>
    <div class=".container-fluid">
        <div class="shop">
            <img id="banner" src="/staticFiles/assets/img/others/banner.png">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item ml-5"><i class="fas fa-home" aria-hidden="true"></i></li>
                    <li class="breadcrumb-item active" aria-current="page">Category</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row mt-5 ml-4">
        <br><br>
        <div class="grid-container" style="align-items: center">
            {% for array in arrays_product_type_all %}
                <a href="/_users/product_detail/{{ array.product_id }}" class="product-content">
                    <div class="imageproduct text-center"><img class="radius-product" src="/staticFiles/assets/img/image_products/{{ array.product_image_1 }}"/>
                        <div class="productname text-center mt-2">{{ array.product_name }}</div>
                    </div>
                    <div>
                        <del class="margimobile">${{ array.product_price }}</del>
                        <strong>${{ array.product_price_total }}</strong>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#burger-top').click(() => {
                // $(".modal-overlay").show();
                $('#burger-top').css('display', 'none');
                $('#close-top').css('display', 'inline-block');
                $(".panel").slideToggle();
            });
            $('#close-top').click(() => {
                $('#burger-top').css('display', 'inline-block');
                $('#close-top').css('display', 'none');
                $(".panel").slideToggle();
            });

            // Shopping cart dropdown
            $('#topnav__item__cart').click(() => {
                $('.cart__dropdown').slideDown();

            });

            $(document).click(function (e) {
                if ($(e.target).is('.cart__dropdown, #topnav__item__cart *'))
                    return;
                $('.cart__dropdown').slideUp();
            });

            const navbarOffset = $('.navbar__topnav').offset();
            window.onscroll = function () {
                StickNavBar(navbarOffset.top)
            };
        });

        function StickNavBar(navbarOffset) {
            if (window.pageYOffset >= 80) {
                $('.navbar__topnav').addClass('navbar__topnav-sticky ');
                $(".panel").addClass('panel-stickey');
            } else {
                $('.navbar__topnav').removeClass('navbar__topnav-sticky ');
                $(".panel").removeClass('panel-stickey');

            }
        }

        function RemoveDropDownItem(id) {
            $.ajax({
                url: '/cart/remove/' + id,
                type: 'GET'
            }).done(function (response) {
                RemoveItemInCart(response);
            });
        }

        function RemoveItemInCart(response) {
            var newDropDownItems = $('.cart__dropdown__list', $($.parseHTML(response)));
            if (newDropDownItems) {
                $('.cart__dropdown__list').empty();
                $('.cart__dropdown__list').append(newDropDownItems);
            }
            var newCartItems = $('#changing-cart', $($.parseHTML(response)));
            if (newCartItems) {
                $('#changing-cart').empty();
                $('#changing-cart').append(newCartItems);
            }
        }
    </script>
</body>
{% endblock body %}