{% extends "base_admin_1.html" %}
{% block title %}
<title>Order</title>
{% endblock title %}
{% block body %}
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">View Order</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/_admin/index">Home</a></li>
            <li class="breadcrumb-item">Order</li>
            <li class="breadcrumb-item active" aria-current="page">View Order</li>
        </ol>
    </div>         
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Order Information</h6>
            </div>
            <div class="table-responsive p-3">
                <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                        <tr  style="text-align: center;">
                            <th>Order ID</th>
                            <th>Customer name</th>                 
                            <th>Address</th>
                            <th>Date order</th>
                            <th>Status</th>
                            <th>View Detail</th>
                        </tr>
                    </thead>
                    <tbody  style="text-align: center;">
                        {% for array in list_all_order %}
                            <tr>
                                <td><a href="#">{{ array.order_id }}</a></td>
                                <td>{{ array.order_name }}</td>
                                <td>{{ array.order_address }}...</td>                      
                                <td>{{ array.date_invoice_order }}</td>
                                {% if array.order_status_id==1 %}
                                <td><span class="badge badge-warning">Waiting</span></td>
                                {% endif %}
                                {% if array.order_status_id==2 %}
                                <td><span class="badge badge-info">Delivery</span></td>
                                {% endif %}
                                {% if array.order_status_id==3 %}
                                <td><span class="badge badge-success">Completed</span></td>
                                {% endif %}
                                {% if array.order_status_id==4 %}
                                <td><span class="badge badge-secondary">Pending</span></td>
                                {% endif %}
                                <td><a href="/_admin/update_orders/{{ array.order_id }}" class="btn btn-sm btn-primary">Detail</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock body %}