{% if(msg != '') %}
<script>alert('{{ msg }}');</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="/staticFiles/assets/img/others/logo_mini.png" rel="icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/staticFiles/assets/others/vendor/feather/feather.css">
        <link rel="stylesheet" href="/staticFiles/assets/others/vendor/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="/staticFiles/assets/others/vendor/ti-icons/css/themify-icons.css">
        <link rel="stylesheet" href="/staticFiles/assets/others/vendor/typicons/typicons.css">
        <link rel="stylesheet" href="/staticFiles/assets/others/vendor/simple-line-icons/css/simple-line-icons.css">
        <link rel="stylesheet" href="/staticFiles/assets/others/vendor/css/vendor.bundle.base.css">
        <link rel="stylesheet" href="/staticFiles/assets/others/vendor/select2/select2.min.css">
        <link rel="stylesheet" href="/staticFiles/assets/others/vendor/select2-bootstrap-theme/select2-bootstrap.min.css">

    {% block stylesheet %}
    <link rel="stylesheet" href="/staticFiles/assets/css/users/account_page.css"> 
    {% endblock stylesheet %}

    {% block title %}
    <title>Your Personal Page</title>
    {% endblock title %}
</head>
<body>
    <div class="container-scroller">
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <div class="me-3">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                        <span class="icon-menu"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-top"> 
                <ul class="navbar-nav">
                    <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                        <h1 class="welcome-text">Hello, <span class="text-black fw-bold">{{session['account_name']}}</span></h1>
                        <h3 class="welcome-sub-text">How are you doing?</h3>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/_users/account_page">
                            <i class="mdi mdi-account-circle menu-icon"></i>
                            <span class="menu-title">Your account</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/_users/account_reset_pass">
                            <i class="menu-icon mdi mdi-refresh"></i>
                            <span class="menu-title">Reset password</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/_users/account_order">
                            <i class="menu-icon mdi mdi-shopping"></i>
                            <span class="menu-title">Your Order</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/_users/account_purchase_history">
                            <i class="menu-icon mdi mdi-history"></i>
                            <span class="menu-title">Purchase History</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/_users/index">
                            <i class="mdi mdi mdi-home menu-icon"></i>
                            <span class="menu-title">Home page</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/_users/account_page_logout">
                            <i class="mdi mdi-logout-variant menu-icon"></i>
                            <span class="menu-title">Log out</span>
                        </a>
                    </li>
                </ul>
            </nav>
            {% block body %}
            {% endblock body %}
        </div>
    </div>
    <script src="/staticFiles/assets/others/vendor/js/vendor.bundle.base.js"></script>
    <script src="/staticFiles/assets/others/vendor/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="/staticFiles/assets/others/vendor/select2/select2.min.js"></script>
    <script src="/staticFiles/assets/others/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/staticFiles/assets/js/off-canvas.js"></script>
    <script src="/staticFiles/assets/js/hoverable-collapse.js"></script>
    <script src="/staticFiles/assets/js/template.js"></script>
    <script src="/staticFiles/assets/js/settings.js"></script>
    <script src="/staticFiles/assets/js/todolist.js"></script>
    <script src="/staticFiles/assets/js/file-upload.js"></script>
    <script src="/staticFiles/assets/js/typeahead.js"></script>
    <script src="/staticFiles/assets/js/select2.js"></script>
</body>
</html>